.advertisement{
    background-color: rgb(44, 27, 193);
    padding-top: 80px  ;
    text-align: center;
    padding-bottom: 10px;
   
    p{
          color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 600;
        // font-family: cursive;

    }
}